{{ $certificates := .Site.Data.data.certificates }}
{{ if $certificates | and $certificates.display }}
<section class="section certificates-section">

    <div class="section-title">
        {{ $certificates.title }}
    </div>

    <div class="row">
        {{ range $certificate := $certificates.items }}
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="item">

                <div class="upper-row">
                    {{ if $certificate.link }}
                    <div class="name"><a href="{{ $certificate.link }}">{{ $certificate.name }}</a></div>
                    {{ else }}
                    <div class="name">{{ $certificate.name }}</div>
                    {{ end }}
                </div>

                <div class="upper-row">
                    <div class="authority">{{ $certificate.authority }}</div>
                    <div class="time">{{ $certificate.time }}</div>
                </div>

                {{ if $certificate.details }}
                <div class="details markdown">
                    {{ $certificate.details | markdownify }}
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}
