{{- $contact := .data.contact }}
{{ if $contact }}
<div class="contact" {{ if ne .data.basic.avatar.show true }}style="justify-content: center;"{{ end }}>
  {{- if $contact.location }}
  {{- $text := $contact.location }}
  <div class="contact-item" title="Location">
    <i class="fa-solid fa-location-dot"></i>
    {{- if eq (slicestr $text 0 1) "[" }}
    {{ $text | markdownify | safeHTML }}
    {{- else }}
    <span>{{ $text }}</span>
    {{- end }}
  </div>
  {{- end }}

  {{- if $contact.email }}
  {{- $text := $contact.email }}
  {{- $link := (print "mailto:" $text) }}
  <div class="contact-item" title="Email">
    <i class="fa-solid fa-envelope"></i>
    <a href="{{ $link }}" title="{{ $link }}">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.phone }}
  {{- $text := $contact.phone }}
  {{- $link := (print "tel:" $text) | safeURL }}
  <div class="contact-item" title="Phone number">
    <i class="fa-solid fa-phone"></i>
    <a href="{{ $link }}" title="{{ $link }}">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.website }}
  {{- $text := $contact.website }}
  {{- $link := (print "https://" $text) }}
  <div class="contact-item" title="Website">
    <i class="fa-solid fa-link"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.gender }}
  {{- $text := $contact.gender }}
  <div class="contact-item" title="Gender">
    <i class="fa-solid fa-venus-mars"></i>
    <span>{{ $text }}</span>
  </div>
  {{- end }}

  {{- if $contact.birthday }}
  {{- $text := $contact.birthday }}
  <div class="contact-item" title="Birthday">
    <i class="fa-solid fa-cake-candles"></i>
    <span>{{ $text }}</span>
  </div>
  {{- end }}

  {{- if $contact.nationality }}
  {{- $text := $contact.nationality }}
  <div class="contact-item" title="Nationality">
    <i class="fa-solid fa-flag"></i>
    <span>{{ $text }}</span>
  </div>
  {{- end }}

  {{- if $contact.visa }}
  {{- $text := $contact.visa }}
  <div class="contact-item" title="Passport visa">
    <i class="fa-solid fa-passport"></i>
    <span>{{ $text }}</span>
  </div>
  {{- end }}

  {{- if $contact.drivinglicense }}
  {{- $text := $contact.drivinglicense }}
  <div class="contact-item" title="Driving license">
    <i class="fa-solid fa-car"></i>
    <span>{{ $text }}</span>
  </div>
  {{- end }}

  {{- if $contact.github }}
  {{- $text := $contact.github }}
  {{- $link := (print "https://github.com/" $text) }}
  <div class="contact-item" title="GitHub">
    <i class="fa-brands fa-github"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.gitlab }}
  {{- $text := $contact.gitlab }}
  {{- $link := (print "https://gitlab.com/" $text) }}
  <div class="contact-item" title="GitLab">
    <i class="fa-brands fa-gitlab"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.bitbucket }}
  {{- $text := $contact.bitbucket }}
  {{- $link := (print "https://bitbucket.com/" $text) }}
  <div class="contact-item" title="Bitbucket">
    <i class="fa-brands fa-bitbucket"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.git }}
  {{- $text := $contact.git }}
  {{- $link := (print "https://" $text) }}
  <div class="contact-item" title="Git">
    <i class="fa-brands fa-git"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.leetcode }}
  {{- $text := $contact.leetcode }}
  {{- $link := (print "https://leetcode.com/" $text) }}
  <div class="contact-item" title="LeetCode">
    <i class="icon icon-leetcode"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.codeforces }}
  {{- $text := $contact.codeforces }}
  {{- $link := (print "https://codeforces.com/profile/" $text) }}
  <div class="contact-item" title="Codeforces">
    <i class="icon icon-codeforces"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.codewars }}
  {{- $text := $contact.codewars }}
  {{- $link := (print "https://www.codewars.com/users/" $text) }}
  <div class="contact-item" title="Codewars">
    <i class="icon icon-codewars"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.topcoder }}
  {{- $text := $contact.topcoder }}
  {{- $link := (print "https://profiles.topcoder.com/" $text) }}
  <div class="contact-item" title="Topcoder">
    <i class="icon icon-topcoder"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.huggingface }}
  {{- $text := $contact.huggingface }}
  {{- $link := (print "https://huggingface.co/" $text) }}
  <div class="contact-item" title="Hugging Face">
    <i class="icon icon-huggingface"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.codepen }}
  {{- $text := $contact.codepen }}
  {{- $link := (print "https://codepen.io/" $text) }}
  <div class="contact-item" title="CodePen">
    <i class="fa-brands fa-codepen"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.tryhackme }}
  {{- $text := $contact.tryhackme }}
  {{- $link := (print "https://tryhackme.com/p/" $text) }}
  <div class="contact-item" title="TryHackMe">
    <i class="icon icon-tryhackme"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.googlescholar }}
  {{- $text := $contact.googlescholar }}
  {{- $link := (print "https://scholar.google.com/citations?user=" $text) }}
  <div class="contact-item" title="Google Scholar">
    <i class="fa-brands fa-google-scholar"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.researchgate }}
  {{- $text := $contact.researchgate }}
  {{- $link := (print "https://www.researchgate.net/profile/" $text) }}
  <div class="contact-item" title="ResearchGate">
    <i class="fa-brands fa-researchgate"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.orcid }}
  {{- $text := $contact.orcid }}
  {{- $link := (print "https://orcid.org/" $text) }}
  <div class="contact-item" title="ORCID">
    <i class="fa-brands fa-orcid"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.figshare }}
  {{- $text := $contact.figshare }}
  {{- $link := (print "https://figshare.com/authors/" $text) }}
  <div class="contact-item" title="figshare">
    <i class="icon icon-figshare"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.kaggle }}
  {{- $text := $contact.kaggle }}
  {{- $link := (print "https://www.kaggle.com/" $text) }}
  <div class="contact-item" title="Kaggle">
    <i class="fa-brands fa-kaggle"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.medium }}
  {{- $text := $contact.medium }}
  {{- $link := (print "https://medium.com/@" $text) }}
  <div class="contact-item" title="Medium">
    <i class="fa-brands fa-medium"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.wordpress }}
  {{- $text := $contact.wordpress }}
  {{- $link := (printf "https://%s.wordpress.com" $text) }}
  <div class="contact-item" title="WordPress">
    <i class="fa-brands fa-wordpress"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.blogger }}
  {{- $text := $contact.blogger }}
  {{- $link := (printf "https://%s.blogspot.com" $text) }}
  <div class="contact-item" title="Blogger">
    <i class="fa-brands fa-blogger"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.devto }}
  {{- $text := $contact.devto }}
  {{- $link := (print "https://dev.to/@" $text) }}
  <div class="contact-item" title="DEV Community">
    <i class="fa-brands fa-dev"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.figma }}
  {{- $text := $contact.figma }}
  {{- $link := (print "https://www.figma.com/@" $text) }}
  <div class="contact-item" title="Figma">
    <i class="fa-brands fa-figma"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.behance }}
  {{- $text := $contact.behance }}
  {{- $link := (print "https://www.behance.net/" $text) }}
  <div class="contact-item" title="Behance">
    <i class="fa-brands fa-behance"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.dribbble }}
  {{- $text := $contact.dribbble }}
  {{- $link := (print "https://dribbble.com/" $text) }}
  <div class="contact-item" title="Dribbble">
    <i class="fa-brands fa-dribbble"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.artstation }}
  {{- $text := $contact.artstation }}
  {{- $link := (print "https://www.artstation.com/" $text) }}
  <div class="contact-item" title="ArtStation">
    <i class="fa-brands fa-artstation"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.pixiv }}
  {{- $text := $contact.pixiv }}
  {{- $link := (print "https://www.pixiv.net/users/" $text) }}
  <div class="contact-item" title="Pixiv">
    <i class="fa-brands fa-pixiv"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.pinterest }}
  {{- $text := $contact.pinterest }}
  {{- $link := (print "https://www.pinterest.com/" $text) }}
  <div class="contact-item" title="Pinterest">
    <i class="fa-brands fa-pinterest"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.producthunt }}
  {{- $text := $contact.producthunt }}
  {{- $link := (print "https://www.producthunt.com/@" $text) }}
  <div class="contact-item" title="Product Hunt">
    <i class="fa-brands fa-product-hunt"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.linkedin }}
  {{- $text := $contact.linkedin }}
  {{- $link := (print "https://linkedin.com/in/" $text) }}
  <div class="contact-item" title="LinkedIn">
    <i class="fa-brands fa-linkedin"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.indeed }}
  {{- $text := $contact.indeed }}
  {{- $link := (print "https://my.indeed.com/p/" $text) }}
  <div class="contact-item" title="Indeed">
    <i class="icon icon-indeed"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.xing }}
  {{- $text := $contact.xing }}
  {{- $link := (print "https://www.xing.com/profile/" $text) }}
  <div class="contact-item" title="XING">
    <i class="fa-brands fa-xing"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.fiverr }}
  {{- $text := $contact.fiverr }}
  {{- $link := (print "https://www.fiverr.com/" $text) }}
  <div class="contact-item" title="Fiverr">
    <i class="icon icon-fiverr"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.freelancer }}
  {{- $text := $contact.freelancer }}
  {{- $link := (print "https://www.freelancer.com/u/" $text) }}
  <div class="contact-item" title="Freelancer">
    <i class="icon icon-freelancer"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.wechat }}
  {{- $text := $contact.wechat }}
  <div class="contact-item" title="Wechat">
    <i class="fa-brands fa-weixin"></i>
    {{- if eq (slicestr $text 0 1) "[" }}
    {{ $text | markdownify | safeHTML }}
    {{- else }}
    <span>{{ $text }}</span>
    {{- end }}
  </div>
  {{- end }}

  {{- if $contact.whatsapp }}
  {{- $text := $contact.whatsapp }}
  {{- $link := (print "https://wa.me/" $text) }}
  <div class="contact-item" title="WhatsApp">
    <i class="fa-brands fa-whatsapp"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.telegram }}
  {{- $text := $contact.telegram }}
  {{- $link := (print "https://t.me/" $text) }}
  <div class="contact-item" title="Telegram">
    <i class="fa-brands fa-telegram"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.messenger }}
  {{- $text := $contact.messenger }}
  {{- $link := (print "https://m.me/" $text) }}
  <div class="contact-item" title="Messenger">
    <i class="fa-brands fa-facebook-messenger"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.line }}
  {{- $text := $contact.line }}
  {{- $link := (print "https://line.me/R/ti/p/@" $text) }}
  <div class="contact-item" title="LINE">
    <i class="fa-brands fa-line"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.viber }}
  {{- $text := $contact.viber }}
  {{- $link := (print "https://vb.me/R/" $text) }}
  <div class="contact-item" title="Viber">
    <i class="fa-brands fa-viber"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.threema }}
  {{- $text := $contact.threema }}
  {{- $link := (print "https://threema.id/R/" $text) }}
  <div class="contact-item" title="Threema">
    <i class="icon icon-threema"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.signal }}
  {{- $text := $contact.signal }}
  <div class="contact-item" title="Signal">
    <i class="fa-brands fa-signal-messenger"></i>
    {{- if eq (slicestr $text 0 1) "[" }}
    {{ $text | markdownify | safeHTML }}
    {{- else }}
    <span>{{ $text }}</span>
    {{- end }}
  </div>
  {{- end }}

  {{- if $contact.wire }}
  {{- $text := $contact.wire }}
  <div class="contact-item" title="Wire">
    <i class="icon icon-wire"></i>
    {{- if eq (slicestr $text 0 1) "[" }}
    {{ $text | markdownify | safeHTML }}
    {{- else }}
    <span>{{ $text }}</span>
    {{- end }}
  </div>
  {{- end }}

  {{- if $contact.stackoverflow }}
  {{- $text := $contact.stackoverflow }}
  {{- $link := (print "https://stackoverflow.com/users/" $text) }}
  <div class="contact-item" title="Stack Overflow">
    <i class="fa-brands fa-stack-overflow"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.stackexchange }}
  {{- $text := $contact.stackexchange }}
  {{- $link := (print "https://stackexchange.com/users/" $text) }}
  <div class="contact-item" title="Stack Exchange">
    <i class="fa-brands fa-stack-exchange"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.quora }}
  {{- $text := $contact.quora }}
  {{- $link := (print "https://www.quora.com/profile/" $text) }}
  <div class="contact-item" title="Quora">
    <i class="fa-brands fa-quora"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.zhihu }}
  {{- $text := $contact.zhihu }}
  {{- $link := (print "https://www.zhihu.com/people/" $text) }}
  <div class="contact-item" title="知乎">
    <i class="fa-brands fa-zhihu"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.goodreads }}
  {{- $text := $contact.goodreads }}
  {{- $link := (print "https://www.goodreads.com/user/show/" $text) }}
  <div class="contact-item" title="Goodreads">
    <i class="fa-brands fa-goodreads"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.strava }}
  {{- $text := $contact.strava }}
  {{- $link := (print "https://www.strava.com/athletes/" $text) }}
  <div class="contact-item" title="Strava">
    <i class="fa-brands fa-strava"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.wikipedia }}
  {{- $text := $contact.wikipedia }}
  {{- $link := (print "https://www.wikipedia.org/wiki/User:" $text) }}
  <div class="contact-item" title="Wikipedia">
    <i class="fa-brands fa-wikipedia-w"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.twitter }}
  {{- $text := $contact.twitter }}
  {{- $link := (print "https://twitter.com/" $text) }}
  <div class="contact-item" title="Twitter">
    <i class="fa-brands fa-twitter"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.x }}
  {{- $text := $contact.x }}
  {{- $link := (print "https://x.com/" $text) }}
  <div class="contact-item" title="X">
    <i class="fa-brands fa-x-twitter"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.mastodon }}
  {{- $text := $contact.mastodon }}
  {{- $parts := split $text "@" }}
  {{- $link := (printf "https://%s/@%s" (index $parts 1) (index $parts 0)) }}
  <div class="contact-item" title="Mastodon">
    <i class="fa-brands fa-mastodon"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.threads }}
  {{- $text := $contact.threads }}
  {{- $link := (print "https://www.threads.net/@" $text) }}
  <div class="contact-item" title="Threads">
    <i class="fa-brands fa-threads"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.vk }}
  {{- $text := $contact.vk }}
  {{- $link := (print "https://vk.com/" $text) }}
  <div class="contact-item" title="VK">
    <i class="fa-brands fa-vk"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.weibo }}
  {{- $text := $contact.weibo }}
  <div class="contact-item" title="新浪微博">
    <i class="fa-brands fa-weibo"></i>
    {{- if eq (slicestr $text 0 1) "[" }}
    {{ $text | markdownify | safeHTML }}
    {{- else }}
    <span>{{ $text }}</span>
    {{- end }}
  </div>
  {{- end }}

  {{- if $contact.instagram }}
  {{- $text := $contact.instagram }}
  {{- $link := (print "https://instagram.com/" $text) }}
  <div class="contact-item" title="Instagram">
    <i class="fa-brands fa-instagram"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.unsplash }}
  {{- $text := $contact.unsplash }}
  {{- $link := (print "https://unsplash.com/@" $text) }}
  <div class="contact-item" title="Unsplash">
    <i class="fa-brands fa-unsplash"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact._500px }}
  {{- $text := $contact._500px }}
  {{- $link := (print "https://500px.com/p/" $text) }}
  <div class="contact-item" title="500px">
    <i class="fa-brands fa-500px"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.youtube }}
  {{- $text := $contact.youtube }}
  {{- $link := (print "https://www.youtube.com/@" $text) }}
  <div class="contact-item" title="YouTube">
    <i class="fa-brands fa-youtube"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.tiktok }}
  {{- $text := $contact.tiktok }}
  {{- $link := (print "https://www.tiktok.com/@" $text) }}
  <div class="contact-item" title="TikTok">
    <i class="fa-brands fa-tiktok"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.snapchat }}
  {{- $text := $contact.snapchat }}
  {{- $link := (print "https://www.snapchat.com/add/" $text) }}
  <div class="contact-item" title="Snapchat">
    <i class="fa-brands fa-snapchat"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}

  {{- if $contact.twitch }}
  {{- $text := $contact.twitch }}
  {{- $link := (print "https://www.twitch.tv/" $text) }}
  <div class="contact-item" title="Twitch">
    <i class="fa-brands fa-twitch"></i>
    <a href="{{ $link }}" title="{{ $link }}" target="_blank">{{ $text }}</a>
  </div>
  {{- end }}
</div>
{{- end }}
