{{ $publications := .Site.Data.data.publications }}
{{ if $publications | and $publications.display }}
<section class="publications">

    <div class="section-title">
        {{ $publications.title }}
    </div>

    <div class="section-content">
        {{ if $publications.intro }}
        <div class="intro">
            <div class="markdown">
                {{ $publications.intro | markdownify }}
            </div>
        </div>
        {{ end }}

        {{ range $publication := $publications.items }}
        <div class="item">
            {{ if $publication.title }}
            <p class="title">
                {{ if $publication.link }}
                <a href="{{ $publication.link }}" target="_blank">{{ $publication.title }}</a>
                {{ else }}
                {{ $publication.title }}
                {{ end }}
            </p>

            {{ if $publication.authors }}
            <div class="authors">{{ $publication.authors }}</div>
            {{ end }}

            {{ if $publication.conference }}
            <div class="conference">{{ $publication.conference }}</div>
            {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>

</section>
{{ end }}
