{{- $publication := .data.publication }}
{{- if $publication | and $publication.show }}
<section class="publication" style="order: {{ $publication.order | default 1 }}">
  <div class="section-title">
    <i class="section-icon fa-solid fa-newspaper"></i>
    <h2>{{ $publication.title }}</h2>
  </div>

  <div class="section-content">
    {{- if $publication.description }}
    <div class="description markdown">
      {{ $publication.description | markdownify | safeHTML }}
    </div>
    {{- end }}

    {{- if $publication.items }}
    <div class="items">
      {{- range $item := $publication.items }}
      <div class="item">

        {{- if $item.title }}
        <div class="publication-title">
          {{- if $item.link }}
          <a href="{{ $item.link }}" target="_blank">{{ $item.title | markdownify | safeHTML }}</a>
          {{- else }}
          <span>{{ $item.title | markdownify | safeHTML }}</span>
          {{- end }}
        </div>

        {{- if $item.authors }}
        <div class="authors">
          <span>{{ $item.authors | markdownify | safeHTML }}</span>
        </div>
        {{- end }}

        {{- if $item.conference }}
        <div class="conference">
          <span>{{ $item.conference }}</span>
        </div>
        {{- end }}
        {{- end }}

      </div>
      {{- end }}
    </div>
    {{- end }}
  </div>
</section>
{{- end }}
