{{ define "main" }}
    {{ $data := .Site.Data.data }}
    {{ if .Site.Params.open }}
    <div class="wrapper">
        {{ partial "basic.html" $data }}
        {{ partial "profile.html" $data }}
        {{ partial "experiences.html" $data }}
        {{ partial "projects.html" $data }}
        {{ partial "skills.html" $data }}
        {{ partial "education.html" $data }}
        {{ partial "certificates.html" $data }}
        {{ partial "publications.html" $data }}
        {{ partial "patents.html" $data }}
        {{ partial "language.html" $data }}
        {{ partial "interests.html" $data }}
        {{ partial "evaluation.html" $data }}
    </div>
    {{ partial "footer.html" $data }}
    {{ else }}
    {{ partial "close.html" $data }}
    {{ end }}
{{ end }}
